tools_and_services/llm_services/models

tools_and_services/rerank/cache

tools_and_services/embedding/cache

database/volumes

# Python cache files
__pycache__/
*.py[cod]
*$py.class

knowledge_base/reference
